/* #region fonts */

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* #endregion fonts */


/* #region common */
body {
    background-color: #fbfbfb;
    color: rgba(15, 15, 15, 100);
    font-family: "Gilroy";
}

ul, ol {
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    font-family: inherit;
    cursor: pointer;
}
.container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}


/* #endregion common */

/* #region header */

.header {
    border-bottom: 1px solid rgba(12, 12, 12, 0.1);;
}

.header-logo {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.header-nav {

}

.header-nav-list {
    display: flex;
    gap: 20px;
}

.header-nav-link {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #0c0c0c;
    display: block;
}

.header-social-list {

    display: flex;
}

.header-social-item {
    display: flex;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #endregion header */

/* #region hero */

.hero-section {

}

.hero-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 0.875;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.hero-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);

    margin-top: 20px;
}

.hero-link-down {

}



.accent {
    color: #3350e9;
}

/* #endregion hero */